extends ../layout

include ../../mixins/forms
include ../../mixins/menus
include ../../mixins/tables

block content
  
  h1= title
  
  mixin helpmenu_back('categories')
  
  .form
    form(action='', method='post', class='form-horizontal')
      mixin method(method)
      mixin csrf(token)
      table.table.table-bordered.table-striped
        mixin thead( [ 'Category' ] )
        tbody
          - if (method == 'put')
            tr
              td
                mixin disabled('id', 'ID', session.form.values.id, session.form.errors.id, '')
          tr
            td
              mixin input('text', 'name', 'Name', session.form.values.name, session.form.errors.name, '', true)
          tr
            td
              - if (method == 'post')
                mixin input('text', 'machine', 'Machine Name', session.form.values.machine, session.form.errors.machine, 'lowercase letters and underscores only')
              - else
                mixin disabled('machine', 'Machine Name', session.form.values.machine, session.form.errors.machine, 'not editable after creation') 
          tr
            td
              mixin textarea('description', 'Description', session.form.values.description, session.form.errors.description, 'a short description of the job type')
      mixin actions(method)
            
