extends ../layout

include ../../mixins/forms
include ../../mixins/tables
include ../../mixins/menus

block content
  
  h1= title
  
  mixin helpmenu_add('Category', 'categories')
  
  mixin pager(pager)
  
  table.table.table-bordered.table-striped
    mixin thead( [ '', 'id', 'machine', 'name', 'updated' ] )
    tbody
      - if (!rows.length)
        mixin tr_empty('Category', 'categories', '5')
      - else
        - each row in rows
          mixin tr_op( [ 'op', row._id, row.machine, row.name, row.updated ], row, 'categories' )
              
  mixin pager(pager)
