extends layout

block content
  
  .service-list
        .block.stage
          ul.first
            li Additions & Remodels
            li Architects & Engineers
            li Bathrooms
            li Cabinets & Countertops
            li Carpentry
            li Carpet
            li Cleaning & Maid Service
            li Concrete, Brick & Stone
            li Decks & Porches
            li Driveways, Patios, Walks & Steps
            li Drywall & Insulation
            li Electrical & Computers
            li Fences
            li Flooring & Hardwood
            li Garages, Doors, Openers
          ul.last
            li Handyman Services
            li Heating & Cooling
            li Kitchens
            li Landscape
            li Lawncare & Sprinklers
            li Maid Service
            li Painting & Staining
            li Plumbing
            li Remodels
            li Roofing & Gutters
            li Siding
            li Swimming Pools, Spas & Saunas
            li Tile & Stone
            li Walls & Ceilings
            li Windows & Doors
        .block.help
          .step1.show
            | < Try it!  Its Free and Easy!
          .step2.hide
          .step3.hide
            
  .contractors
    a(name='contractors')
    h2
      | Our contractors
    p
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
      | magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
      | lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate 
      | velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto 
      | odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam 
      | liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer 
      | possim assum. Typi non habent claritatem insitam; est usus lege.
  
  .how
    a(name='how')
    h2
      | How it works
    p
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
      | magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
      | lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate 
      | velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto 
      | odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam 
      | liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer 
      | possim assum. Typi non habent claritatem insitam; est usus lege.
        

  .who
    a(name='who')
    h2
      | Who we are
    p
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
      | magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
      | lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate 
      | velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto 
      | odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam 
      | liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer 
      | possim assum. Typi non habent claritatem insitam; est usus lege.
  
  .faq
    a(name='faq')
    h2
      | Frequently asked questions
    p
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
      | magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
      | lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate 
      | velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto 
      | odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam 
      | liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer 
      | possim assum. Typi non habent claritatem insitam; est usus lege.
  
  .contact
    a(name='contact')
    h2
      | Get a hold of us
    p
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
      | magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
      | lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate 
      | velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto 
      | odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam 
      | liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer 
      | possim assum. Typi non habent claritatem insitam; est usus lege.
          
  
  
  
